.header{
    background-color: rgb(235, 166, 181);
    color: rgb(180, 73, 180);
    height: 100px;
}
.header h1{
text-align: center;
padding: 22px;
}

.header img{
width: 100px;
float: left;
padding: 20px;
}

.details{
text-align: center;
font-size:25px;
}
.details ul li{
    display: inline-block;
    padding-right: 20px;
    color:rgb(204, 96, 120);
}
span{
    font-size: 50px;
    padding: 30px;
    
    }
.content-1{
    width: 300px;
    background-color: rgb(236, 198, 186);
    display: inline-block;
    height: 650px;
}
.content-1 h2{
text-align: center;
color: rgb(197, 94, 245);
font-size: 40px;
}
.content-1 p{
    font-size: 30px;
    padding: 20px;
}
.content-1 h3{
    padding-left: 10px;
}
input{
    margin:10px;
}

.content-2{
    background-color: rgb(204, 228, 174);
    width: 1020px; 
    height: 650px;
    float: right;
    
}
.content-2 img{
    width: 700px;
    height: 550px;
    padding-left: 20px;
    padding-top: 0;
}

.content-2 p img{
    width: 70px;
    height: 50px;
}

.foot{
    background-color: rgb(235, 166, 181);
    height: 90px;
    text-align: center;
   }
   .foot h3{
       padding: 30px;
   }
