.page{
    background-color: burlywood;
}

.container{
    background-color: rgba(78, 82, 85, 0.856);
}
.header{
color:  burlywood;

}
.nav-list ul li{
    display: inline-block;
    padding-left: 30px;
}
.nav-list ul{
    text-align: center ;
    font-size: 25px;
    padding-left: 30px;
}
.content{
    padding-top: 25px;
}

.content img {
    width: 300px;
    height: 250px;

  }
  .list{
      font-size: 20px;
      margin-left: 30px;
  }
  span{
      color: rgb(236, 187, 122);
      font-size: 20px;
  }
  .line{
        margin: auto;
        background-color: rgb(182, 152, 114);
        max-width: 20%; 
        height: 4px;
  }
  .foot{
      font-size: 30px;
     color: burlywood;
     text-align: center;

  }
  .nav-item{
    padding: 0px 50px;
    justify-content: center;
    
}
